<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎访问 <%= title %></p>
    <div class="navbar">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">首页</a>
        </li>
        <li>
          <a href="#">列表</a>
        </li>
        <li>
          <a href="#">信息</a>
        </li>
      </ul>
    </div>
  </body>
</html>
